body {
  background-image: url(exp-back.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

p {
    color: black;
    text-align: center;
    font-size: 38px; 
}

.highlight1 {      /*cambia il colore di solo alcune parole*/
  color: green;
}

.highlight2 {
  color: blue;
}

nav {
  margin-top: 10px;
}

li {
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 18px;
}

a:hover {
  color: #ffcc00; 
}

.image-gallery {      /*disposizione delle imamgini*/
    display: flex;
    flex-wrap: wrap;
  }
  
  .image-tile {          /*dimensione e posizione delle immagini*/
    position: relative;
    flex-grow: 1;
    width: 400px;
    height: 300px;
    margin: 10px;
    overflow: hidden;
  }
  
  .gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
  }

  .image-caption {          /*posizione delle scritte*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    color: black;
    opacity: 0;
    transition: opacity 0.3s ease;
  } 

  .image-caption1 {          
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .image-tile:hover .gallery-image {   /*ingrandimento*/
    transform: scale(1.2);
  }
  
  .image-tile:hover .image-caption {
    opacity: 1;
  }

  .image-tile:hover .image-caption1 {
    opacity: 1;
  }

