body {
    background-image: url(com-background.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
}
  
h1 {
      color: whitesmoke;
      text-align: center;
      font-size: 38px; 
}

nav {
  margin-top: 10px;
}

li {
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 18px;
}

a:hover {
  color: #ffcc00; 
}

.glow {                                   /*effetto animato luminoso*/      
    animation: glowing 2s infinite;
}
  
@keyframes glowing {
    0% { text-shadow: 0 0 10px yellow; }
    50% { text-shadow: 0 0 20px yellow; }
    100% { text-shadow: 0 0 10px yellow; }
}

.dark {             /*effetto a scomparsa*/
    animation: flickerAnimation 3s ease-in-out infinite;  /*ease-in-out modifica la velocità di esecuzione*/
}

@keyframes flickerAnimation { /*collega l'effetto ad un momento dell'animazione*/
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0.5;
  }
}

.image-gallery {      /*disposizione delle imamgini*/
  display: flex;
  flex-wrap: wrap;
}

.image-tile {          /*dimensione e posizione delle immagini*/
  position: relative;
  flex-grow: 1;
  width: 500px;
  height: 500px;
  margin: 10px;
  overflow: hidden;
}

.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.image-caption1 {          /*posizione delle scritte*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  color: black;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-caption2 {          
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-tile:hover .gallery-image {   /*ingrandimento*/
  transform: scale(1.2);
}

.image-tile:hover .image-caption1 {
  opacity: 1;
}

.image-tile:hover .image-caption2 {
  opacity: 1;
}